<app-myheader></app-myheader>

<div class="container-fluid" style="background-color: black; border: 5px solid white;">
    <div class="container" style="text-align:center" style="margin-top: 150px;">
        <div class="row">
            <div class="heading-title text-center" style="color:white;">
                <h1 class="text-uppercase">Fruit Salad Technologies Pvt. Ltd.</h1>

                <h3 class="text-uppercase" style="margin-top: 30px;">MISSION </h3>
                <p class="p-top-30 half-txt"><b>SPLITEEZY</b> application is developed to fulfill and ease out the daily
                    expenditures and calculations of students. It is perfect on vacations, road trips, a night on the
                    town or in a household where you share the costs. Just define a group of people, add expenses as you
                    go and when you are ready to settle the debts, you can e-mail a report with a list of all expenses
                    and who should pay what to whom. </p>

                <h3 class="text-uppercase" style="margin-top: 30px;">VISION </h3>
                <p class="p-top-30 half-txt">To help out and simply debt calculations when going for tripswith
                    friends/families. This helps out with those awkward “debt triangles,” where everyone both owes money
                    to, and is owed money by, everyone else. Splitwise restructures everything to minimise the
                    transactions required without changing how much anyone is owed. </p>
                <h2 class="text-uppercase" style="margin-top: 50px;">Our professionals </h2>
            </div>


            <div class="col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-img">
                        <img src="../../assets/images/Dhairya.jpg" alt="team member" class="img-responsive" width="300"
                            height="300">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>Research and Development Department</h4>
                            <p>I love to introduce myself as a hardcore Graphics Designer and UI Developer.</p>
                        </div>
                        <div class="s-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h3 style="color:white;">Dhairya Acharya</h3>
                    <span>Co-Founder</span><br>
                    <span>Fruit Salad Pvt. Ltd.</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-img">
                        <img src="../../assets/images/Viral.jpg" alt="team member" class="img-responsive" width="300"
                            height="300">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>I love working with data</h4>
                            <p>I love to introduce myself as a Database Administrator.</p>
                        </div>
                        <div class="s-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h3 style="color:white;">Viral Gajera</h3>
                    <span>Co-Founder</span><br>
                    <span>Fruit Salad Pvt. Ltd.</span>
                </div>
            </div>

        </div>

    </div>
</div>