<footer class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
    <section >
       <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
          <div class="">
             <div class="row footer-agile-grids ">
                <div class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
                   <h4 class="pb-lg-3 pb-3">About Us</h4>
                   <div class="footer-info">
                      <p>An Online Bill Splitting Platform ! </p>
                   </div>
                   <div class="icons mt-lg-4 mt-3 text-left">
                      <ul>
                         <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                         <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                         <li><a href="#"><span class="fas fa-rss"></span></a></li>
                         <li><a href="#"><span class="fab fa-vk"></span></a></li>
                      </ul>
                   </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
                   <h4 class="pb-lg-3 pb-3">Nav Links</h4>
                   <nav class="border-line">
                      <ul class="nav flex-column">
                         <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                         </li>
                         <li class="nav-item">
                            <a href="#about" class="nav-link scroll">About</a>
                         </li>
                         <li class="nav-item">
                            <a href="#service" class="nav-link scroll">Help</a>
                         </li>
                         <li class="nav-item">
                            <a href="#blog" class="nav-link scroll">Contact</a>
                         </li>
                         <li class="nav-item">
                            <a href="#stats" class="nav-link scroll">Take A Tour</a>
                         </li>
                      </ul>
                   </nav>
                </div>
                <div class="wthree-left-right col-lg-4 col-md-4 col-sm-12">
                   <h4 class="pb-lg-3 pb-3">Get In Touch</h4>
                   <div class="bottom-para pb-3">
                      <p>703, Canal View, Silicon Valley,<br>Nadiad City 380001.</p>
                   </div>
                   <div class="bottom-para">
                      <p>(+91) 926 532 4087  <br>(+91) 820 048 3760</p>
                   </div>
                   <div class="bottom-para pt-3">
                      <p><a href="mailto:dhairya2308@gmail.com">dhairya2308@gmail.com</a> 
                         <br><a href="mailto:gajeraviral950@gmail.com">gajeraviral950@gmail.com</a>
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <div class="copy-agile-right text-center">
       <h2 class="my-3"><a href="index.html">SPLITEEZY</a></h2>
       <p> 
          © 2019 Spliteezy. All Rights Reserved | Design by <a href="#" target="_blank">Fruit Salad Technologies Pvt. Ltd.</a>
       </p>
    </div>
 </footer>
 <!-- //footer -->     
 