<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about" style="border-top: 5px solid black ; ">
    <div class="container-fluid py-lg-5 py-md-5 py-sm-4 py-3" >
       <div class="title-sub text-left mb-lg-5 mb-md-4 mb-sm-4 mb-3">
          <h3 class="title mb-md-4 mb-sm-3 mb-3">What makes us different ?</h3>
          <p>Calculating the right amounts of money and the transactions (who pays to whom how much) to clear a group's shared costs and to settle debts for payback can be tedious task - often only solved with the help of spreadsheets. It even becomes more complicated when one or more community spendings are not shared by the whole group (e.g. one friend did not want to join the group for the museum trip paid by another friend for everyone). 
                <br>We therefore bring to you SPLITEEZY to provide people with an easy, free, fast and realiable way to split up their group expenses after holidays, partys, shared presents, festivals, vactions, trips, weddings, roadtrips or in clubs and shared apartments and so much more.
          </p>
       </div>
       <div class="row abt-colm pb-lg-4 pb-md-3 pb-3">
          <div class="col-lg-5 agile-info-img">
             <img src="../../../assets/images/download.jpg" class="img-fluid" alt=""  width="550px">
          </div>
          <div class="col-lg-5 agile-abt-info about-grid">
             <div class="info-sub-w3">
                <h5> Manage and Record your daily transactions to keep a track on expenses
                </h5>
             </div>
             <h4>TRACK BALANCES</h4>
             <div class="info-sub-w3">
                <p>Keep track of shared expenses, balances, and who owes who.
                   SPLITEEZY is the easiest way to share bills with friends and smartly manage debts among friends !
                </p>
             </div>
             
          </div>
       </div>
       <div class="row abt-colm my-lg-5 my-md-4 my-3">
          <div class="offset-md-2 col-lg-5 agile-abt-info text-right">
             <div class="info-sub-w3">
                <h5>Add and delete daily expenses with just a click.
                </h5>
             </div>
             <h4>ORGANIZE AND MANAGE EXPENSES</h4>
             <div class="info-sub-w3">
                <p>Split expenses with any group: trips, housemates, friends, and family.
                   Quickly add expenses on the go before you forget who paid what amount.
                </p>
             </div>
             
          </div>
          <div class="col-lg-5 agile-info-img about-grid">
             <img src="../../../assets/images/ab2.jpg" class="img-fluid" alt="">
          </div>
       </div>
       <div class="row abt-colm pt-lg-4 pt-md-3 pt-3">
          <div class="col-lg-5 agile-info-img">
             <img src="../../../assets/images/cashhands.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 agile-abt-info about-grid">
             <div class="info-sub-w3">
                <h5>Subtract your tensions by adding your expenses in our App! 
                </h5>
             </div>
             <h4>Fed up with Maths? No More Worries !</h4>
             <div class="info-sub-w3">
                <p>This app takes care of all the calculations and transactions to be done and just 
                   gives you the final amount you owe or are owed to/by someone.
                </p>
             </div>
             
          </div>
       </div>
       <!-- //About-one -->
    </div>
 </section>
 <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service" style="border: 12px solid teal  ; background-color: aquamarine;">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
       <div class="title-sub text-right mb-lg-5 mb-md-4 mb-sm-4 mb-3"  >
          <h3 class="title mb-md-4 mb-sm-3 mb-3">Our Payment Partners</h3>
          <p>Wanna go Cashless? Go green via settling debts online using one of the below facilities<br></p>
       </div>
       <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-6 ser-icon text-center">
             <span  class="fab fa-cc-amazon-pay"></span >
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6 ser-icon text-center">
             <span  class="fab fa-cc-paypal"></span >
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6 ser-icon text-center">
             <span  class="fab fa-google-wallet"  aria-hidden="true"></span >
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6 ser-icon text-center">
             <span class="fab fa-cc-mastercard"></span >
          </div>
       </div>
    </div>
 </section>